@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Barlow', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.App-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 25px;
  margin: 30px;
}

.App-title p {
  margin: 10px;
}

.App-subtitle {
  text-align: center;
  max-width: 70%;
  margin-top: 10px;
  font-size: 3.4rem;
  }

.App-bubbles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 80px;
}